<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chat.mapper.UserFriendMapper">
    <update id="update">
        update user_friend
        <set>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        where user_id = #{userId} and friend_id = #{friendId}

    </update>
    <delete id="delete">
        delete from user_friend
        where (user_id = #{userId} and friend_id = #{friendId})
              or (user_id = #{friendId} and friend_id = #{userId})
    </delete>
    <insert id="createNewGroup" useGeneratedKeys="true">
        INSERT INTO user_grouping(user_id, grouping_name)
        VALUES (#{userId}, #{groupingName})
    </insert>
    <update id="changeFriendGrouping">
        update user_friend
        set grouping_id = (
            SELECT grouping_id
            FROM user_grouping
            WHERE user_id=#{userId} and grouping_name=#{groupingName}
            )
        WHERE user_id = #{userId} and friend_id = #{friendId}
    </update>
    <select id="searchFriendGroup">
        SELECT grouping_name
        FROM user_grouping ug, user_friend uf
        WHERE uf.user_id = #{toUserId} and uf.friend_id = #{fromUserId}
          and uf.grouping_id = ug.grouping_id
    </select>
    <select id="searchUserGrouping">
        SELECT grouping_name
        FROM user_grouping ug
        WHERE ug.user_id = #{userId} and ug.grouping_name = #{groupingName}
    </select>
</mapper>